---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
---

<Layout title="TB Serwis - usługi WUKO i kamerowania">
	<main class="h-dvh">
    <Hero />
  </main>
</Layout>